<html>
    <head>
        <title>TODO List</title>
        <script src="../models/index.js"></script>
        <link rel="stylesheet" href="../css/styles.css">
        <!-- <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    </head>
    <body>
        <div>
            <form>
                <input id="task" type="text" placeholder="Type your task here...">
                <button onclick="add_task()" id="add-task" type="submit" >+</button>
            </form>

            <ul id="todo-list">
            </ul>
        </div>
    </body>
</html>
